<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>space-index/DavidEpps.GA</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
  <h1>Mission Index Page</h1>
  <ul>
  	<% for(let i=0;i<missions.length;i++){ %>
  	<li>
  		<a href="/missions/<%=i%>"><%=missions[i].name;%></a>
  	</li>
  	<% } %>
  </ul>
  </body>
</html>