<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>space-show/DavidEpps.GA</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  </head>
  <body>
  	<div class="showpage">
  	<h1>Mission Show Page</h1>
  	<h2>Mission Name

  </div>
  </body>
</html>