<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" charset="IE=edge">
	<title></title>
</head>
<body>
	<h1>Fruits Show Page</h1>
	
	<h3>Fruit Name: Apple</h3>
	<a href="http://localhost:3000/fruits/0">Main Page</a>


	<h3>Fruit Name: Pear</h3>
	<a href="http://localhost:3000/fruits/1">Main Page</a>


	<h3>Fruit Name: Banana</h3>
	<a href="http://localhost:3000/fruits/2">Main Page</a>


</body>
</html>