<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1>Fruits Available:</h1>
	<% for(let i =0; i<fruitList.length; i++) { %>
		<a href="/fruits/<%= i %>"><h2><%= fruitList[i].name %></h2></a>
	<% } %>
</head>
<body>

</body>
</html>