<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Fruits Show Page</h1>
	<h3>Fruit Name: <%= fruit.name %></h3>
	<h4>Fruit Color: <%= fruit.color %></h4>

	<!-- everytime you want to evaluate some javascript, you wrap it with % %, if you want to print to the screen, you wrap with %= % -->

	<% if(fruit.readyToEat === true) { %>
		<span>It is ready to eat</span>
	<% } else { %>
		<span>It is not ready to eat</span>
	<% } %>
</body>
</html>