<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE Edge">
	<title></title>
</head>
<body>
	<h1>Fruits Show Page</h1>

	<h3>Fruit Name: <%= fruit.name %></h3>
	<h4>Fruit Color: <%= fruit.color %></h4>

	<% if(fruit.readyToEat === true) {%>
		<span>It is ready to eat</span>

		<%} else {%>
		<span>It is not ready to eat</span>
	<% } %>
	<br>
	<a href="/">Index</a>
</body>
</html>