<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<h1>Fruits Page</h1>
	<h3> <%= fruit.name %></h3>
	<h3> <%= fruit.color %></h3>
	<!-- if you want to evaluate javascript in ejs file wrap it in carrot percent sign -->
	<% if(fruit.readyToEat === true) { %>
		<span>It is ready to eat</span>
	<% } else { %>
		<span>It is not ready to eat</span>
	<% } %>
	<a href="/fruits">HOME</a>
</body>
</html>