<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
	<h1>Missions</h1>
	<% for(let i = 0; i < missions.length; i++) { %>
		<a href="/marsMissions/<%= i %>"><h2><%= missions[i].name %></h2></a>
	<% } %>
</head>
<body>

</body>
</html>